.mainCont

  .comments
    padding: 0

    .comment
      list-style: none
      display: flex
      align-items: flex-start
      padding: 10px 5px

      .commentAva
        margin-right: 10px

      .commentCont

        .head
          display: flex
          align-items: center
          margin-bottom: 5px

          .authorName
            font-weight: bold
            font-size: 12px
            line-height: 14px
            color: #1D1C1D
            margin: 0 10px 0 0

          .createdDate
            font-weight: normal
            font-size: 12px
            line-height: 14px
            color: #959595

        .text
          font-weight: normal
          font-size: 13px
          line-height: 16px
          color: #1D1C1D
          text-align: start
          margin: 0
