.mainCont
  position: relative
  padding: 15px 10px

  .scrollablePart
    position: relative
    height: 60vh
    overflow-y: auto
    overflow-x: hidden

    .stepper
      margin-left: -12px

  .subTask_row
    display: flex
    padding: 0 12px

    .stepper_figure
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      .subTask_Circle
        position: absolute
        width: 14px
        height: 14px
        border: 2px solid #DDDDDD
        box-sizing: content-box
        background: #fff
        border-radius: 50%

      .subTask_transparentStick
        height: 50%
        width: 2px
        box-sizing: border-box
        background: none

      .subTask_Stick
        height: 50%
        width: 2px
        box-sizing: border-box
        background: #DDDDDD

    .subTask_title
      font-weight: 400
      font-size: 14px
      line-height: 17px
      margin: 10px 0 10px 20px
      text-align: start
      color: #1D1C1D

  .textField
    margin-left: -9px

  .deleteIcon
    position: absolute
    right: 15px
    top: 35px
    background: none
    border: none
    border-radius: 50%

    img
      cursor: pointer
      height: 25px
      width: 25px
      object-fit: contain

  .textEditor
    height: 100%
    border: 1px solid #DDDDDD
    box-sizing: border-box
    border-radius: 6px
    margin: 10px 0 0

    .label
      padding: 10px
      display: flex

      input
        //width: 100%
        background: none
        outline: none
        border: none
        font-size: 14px
        font-weight: 500

    .actions
      display: flex
      align-items: center
      padding: 3px

      span
        display: flex

        img
          cursor: pointer
          margin: 0 3px

      .commentBtn
        width: 120px
        height: 20px
        cursor: pointer
        background: #FFDBCC
        border-radius: 3px
        font-size: 13px
        font-weight: 500
        color: #FF4C00
        border: none

      .commentBtn:hover
        background: #f8cab7