.mainCont
  height: 100%
  background: #FFFFFF
  border: 1px solid #DDDDDD
  box-sizing: border-box
  border-radius: 6px

  .title
    height: 46px
    background: #F5F5F5
    border: 1px solid #DDDDDD
    box-sizing: border-box
    border-radius: 6px 6px 0 0
    margin: 0
    display: flex
    align-items: center
    justify-content: center
    font-weight: bold
    font-size: 13px
    line-height: 16px
    text-align: center
    color: #616061

  .category
    padding: 0

    .row
      list-style: none

      .checkbox
        display: none

      .checkbox:checked + .row_label
        background: #F8F8F8
        border: 1px solid #ECECEC
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)

      .checkbox:checked + .row_label .row_amount
        color: #1D1C1D

      .row_label
        margin: 5px 6px
        padding: 3px 7px
        border-radius: 6px
        box-sizing: border-box
        display: flex
        align-items: center
        border: 1px solid #fff

        .row_icon
          margin-right: 11px

        .row_title
          margin: 0 auto 0 0
          font-weight: 500
          text-align: start
          font-size: 13px
          line-height: 17px
          color: #1D1C1D

        .row_amount
          font-size: 14px
          line-height: 17px
          color: #616061


  .subCategory
    padding: 0

    .row
      list-style: none

      .checkbox
        display: none

      .checkbox:checked + .row_label
        background: #F8F8F8
        border: 1px solid #ECECEC
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)

      .checkbox:checked + .row_label .row_amount
        color: #1D1C1D

      .row_label
        position: relative
        margin: 5px 6px
        padding: 3px 7px
        border-radius: 6px
        box-sizing: border-box
        display: flex
        align-items: center
        border: 1px solid #fff

        .row_icon
          position: absolute
          width: 20px
          height: 20px
          border-radius: 50%
          margin: 0 11px 0 2px
          background-size: contain

        .row_title
          margin: 0 auto 0 36px
          font-weight: 500
          text-align: start
          font-size: 13px
          line-height: 17px

        .row_amount
          font-size: 14px
          line-height: 17px
          color: #616061

.snackBar
  width: 230px
  position: absolute
  background: #FFFFFF
  border: 1px solid #DDDDDD
  box-sizing: border-box
  border-radius: 8px
  z-index: 1

  .snackBar_rename, .snackBar_delete
    font-size: 14px
    line-height: 16px
    margin: 8px 0
    padding: 0 12px
    text-align: start
    font-weight: 600
    opacity: .85

  .snackBar_rename
    color: #1D1C1D

  .snackBar_delete
    color: #EC1919

  .snackBar_rename:hover, .snackBar_delete:hover
    opacity: 1
  .snackBar_title
    font-weight: 600
    font-size: 14px
    line-height: 16px
    text-align: center
    color: #1D1C1D
  .snackBar_desc
    font-size: 14px
    line-height: 16px
    text-align: center
    color: #1D1C1D
  .snackBar_btn
    width: 200px
    height: 30px
    background: #FFE7E6
    border-radius: 6px
    border: none
    font-weight: 600
    font-size: 14px
    line-height: 17px
    color: #FF0F00
    margin-bottom: 10px