.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 18.4375%
  height: 56px
  background: #FFFFFF
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
  .logo
    display: flex
    width: 42%
  .notificationCont
    height: 100%
    display: flex
    align-items: center
    .notification
      height: 36px
      display: flex
      align-items: center
      margin: 0 19px
      padding: 0 12px
      font-weight: bold
      background: #F8F8F8
      border: 1px solid #DDDDDD
      box-sizing: border-box
      border-radius: 6px
      color: #959595
      img
        margin-right: 8px